MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=xenforo
MYSQL_USER=xenforo
MYSQL_PASSWORD=xenforo
REDIS_PASSWORD=xenforo
S3_ACCESS_KEY=aaaaaaaaa
S3_SECRET_KEY=AAAAAAAAA
S3_HOST=minio.local
S3_HOST_NAME=minio.local
S3_BUCKET_NAME=backup
